@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact, #projects {
      height: fit-content;
    }
  }

@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #profile, .section-container {
        display: block;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        height: 275px;
        width: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers, .publication-container, 
    .project-container-col {
        margin-top: 0;
    }
}

@media screen and (max-width:600px) {
    #contact, footer {
        height: 40vh;
    }
    section {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #profile {
        height: 85vh;
        margin-bottom: 0;
    }
    #about {
        height: 195vh;
        margin-bottom: 0;
    }
    .details-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .about-containers, .about-details-container {
        display: block;
    }
    #projects {
        height: 285vh;
        margin-bottom: 0;
    }
    .project-img {
        justify-content: center;
        border-radius: 2rem;
        width: 78vw;
        height: 30vh;
    }
    #publications {
        height: 445vh;
        margin-bottom: 0;
    }
    .publication_outer_container {
        margin-top: 0.25rem;
    }
    #paper{
        font-size: 1rem;
        line-height: 2rem;
    }
    #resume {
        height: 235vh;
        margin-bottom: 0;
    }
    .resume-container {
        margin-top: 0.5rem;
    }
    .col-lg-1 {
        width: 100%;
        text-align: justify;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .col-lg-2 {
        width: 100%;
        text-align: justify;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    #contact {
        height: 50vh;
    }
    article {
        font-size: 1rem;
    }
    footer {
        margin-bottom: 4rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, 
    .btn-container {
        flex-wrap: wrap;
    }
    .info-container {
        display: block;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 32vh;
        width: 32vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.2rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}
